/* GENERAL */

*
{
  margin: 0;
  padding: 0;
}

h1
{
  font-family: 'Crete Round', serif;
  font-size: 50px;
}

h2
{
  font-family: 'Crete Round', serif;
  font-size: 40px;
  text-align: center;
}

h3
{
  font-family: 'Crete Round', serif;
  font-size: 25px;
  text-align: center;
}

p
{
  font-family: 'Lustria', serif;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}

a
{
  font-family: 'Lustria', serif;
  font-size: 15px;
  text-decoration: none;
}

ul
{
  list-style: none;
}

.wrapper
{
  width: auto;
  margin: 0 auto;
  padding: 0 10px;
}

/* HEADER */

header .wrapper
{
  height: 80px;
}

header h1
{
  vertical-align: top;
}

/* NAVIGATION */

#nav
{
  height: 40px;
  width: auto;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
}

#nav nav
{
  float: right;
}

#nav nav ul li
{
  float: left;
  display: inline-block;
}

#nav nav ul
{
  margin: 10px;
}

#nav nav ul li a
{
  font-weight: bold;
  margin-right: 40px;
  color: white;
  text-transform: uppercase;
}

/* ROTATIVE IMAGE */

#rotate .wrapper
{
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.rotate
{
  display: inline-block;
  vertical-align: top;
}

.rotate-image
{
  background: url('images/static-phone.png') no-repeat center;
  background-size: contain;
  height: 350px;
  width: 300px;
  transform-origin: 50% 50%;
  animation: 4s rotateRight infinite linear;
  display: inline-block;
  margin: 0 30px;
  vertical-align: top;
}

@keyframes rotateRight
{
  100%{transform: rotate(360deg);}
}

/* FLIPPING IMAGES */

#flip-image
{
  height: 300px;
  margin-top: 60px;
  position: relative;
  margin: 10px auto;
  z-index: 1;
  perspective: 1000;
  display: inline-block;
}

#flip-image ul
{
  display: flex;
  align-items: center;
}

#flip-image ul li
{
  display: inline-block;
}

#flip-image .wrapper
{
  height: 300px;
}

.image-1
{
  width: 400px;
  height: 250px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.image-1 .front
{
  background: url('images/bridge.jpg') no-repeat center;
  background-size: contain;
  height: 250px;
  width: 400px;
}

#flip-image .wrapper:hover .image-1
{
  transform: rotateY(180deg);
}

.front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back
{
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.image-2
{
  width: 400px;
  height: 250px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.image-2 .front
{
  background: url('images/boardwalk.jpg') no-repeat center;
  background-size: contain;
  height: 250px;
  width: 400px;
}

#flip-image .wrapper:hover .image-2
{
  transform: rotateX(180deg);
}

.image-3
{
  width: 400px;
  height: 250px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.image-3 .front
{
  background: url('images/sky.jpg') no-repeat center;
  background-size: contain;
  height: 250px;
  width: 400px;
}

#flip-image .wrapper:hover .image-3
{
  transform: rotateZ(360deg);
}

/* DIAPORAMA */

#diapo
{
  height: 100%;
  width: auto;
  text-align: center;
}

.diapo
{
  height: 100%;
  width: auto;
  text-align: center;
  display: inline-block;
}

.diapo p
{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

#slideImg
{
  display: none;
  height: 400px;
  width: 700px;
  border-radius: 20px;
}

#diapo-off
{
  display: none;
}

#diapo-on, #diapo-off
{
  padding: 8px 8px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: 'Lustria', serif;
  font-size: 20px;
}

#diapo-on:hover, #diapo-off:hover
{
  background-color: black;
  color: white;
}

/* MUSIC PLAYER */

#music-player
{
  height: 100%;
  margin-top: 20px;
}

#music-player .wrapper
{
  margin: 0 auto;
  display: table;
}

#music-player button
{
  display: block;
  text-align: center;
  cursor: pointer;
  font-family: 'Lustria', serif;
  font-size: 20px;
  padding: 8px 8px;
  border-radius: 5px;
  border-width: medium;
  border-color: black;
  margin: 10px auto;
}

#myDIV {

  display: none;
  margin: 20px auto;
}

#myDIV2 {

  display: none;
}

#text
{
  font-size: 15px;
}

/* BIRDS SHEETS */

#birds
{
  height: 100%;
  margin-top: 60px;
  position: relative;
  margin: 10px auto;
}

#birds .wrapper
{
  margin: 20px auto;
  height: 100%;
}

#birds img
{
  height: 200px;
  width: 200px;
}

#birds ul
{
  text-align: center;
  height: 100%;
}

#birds ul li
{
  display: inline-block;
  height: 100%;
}

#bird-text
{
  display: none;
  position: absolute;
  height: 230px;
  width: 400px;
  font-size: 15px;
  font-family: 'Lustria', serif;
  text-align: justify;
}

.bird-1:hover #bird-text
{
  display: inline-block;
  position: absolute;
}

.bird-1 div
{
  background-color: #F0C179;
}

.bird-2:hover #bird-text
{
  display: inline-block;
  position: absolute;
}

.bird-2 div
{
  background-color: #496C47;
}

.bird-3:hover #bird-text
{
  display: inline-block;
  position: absolute;
}

.bird-3 div
{
  background-color: #9EA055;
}

/* FALLING RAIN */

#rain
{
  height: 100%;
  width: auto;
  margin-bottom: 20px;
}

#rain .wrapper
{
  background: url('images/city-rain.jpg') no-repeat center;
  background-size: cover;
  height: 400px;
  width: 800px;
  position: relative;
  border-radius: 10px;
}

.rain-drop
{
  height: 40px;
  width: 40px;
  position: absolute;
  display: none;
}

#make-rain
{
  padding: 8px 8px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  background-image: linear-gradient(to bottom right, #008000, #90EE90);
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: 'Lustria', serif;
  font-size: 20px;
  color: white;
  display: block;
}

/* HIGHLIGHT TEXT */

#highlight
{
  height: 100%;
  width: auto;
}

#highlight .wrapper
{
  height: auto;
  width : 800px;
  margin: 10px auto;
  border: 2px solid black;
  padding: 10px;
}

#highlight-text
{
  font-size: 20px;
  text-align: justify;
}

/* TIC TAC TOE */

#tictactoe
{
  height: 100%;
  width: auto;
  margin-top: 30px;
}

#tictactoe .wrapper
{
  text-align: center;
}

#x-player
{
  height: 70px;
  width: 70px;
  margin: 10px 0;
}

#o-player
{
  height: 70px;
  width: 70px;
  margin: 10px 0;
  opacity: 0.3;
}

#gametable
{
  height: 100%;
  width: auto;
  margin: 0 auto;
}

td
{
  height: 150px;
  width: 150px;
  border: solid 2px black;
  text-align: center;
}

.x-player, .o-player
{
  height: 150px;
  width: 150px;
  display: none;
}

#win-window, #lose-window
{
  margin: 10px auto;
  width: 37%;
}

#win-window
{
  background-color: #82E496;
  color: black;
}

#lose-window
{
  background-color: #EB5151;
  color: white;
}

#win-window .play-again
{
  color: white;
  background-color: #167328;
}

#lose-window .play-again
{
  color: white;
  background-color: #841515;
}

#win-window p, #lose-window p
{
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.play-again
{
  padding: 8px 8px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: 'Lustria', serif;
  font-size: 20px;
}

/* FOOTER */

footer .wrapper
{
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px 0;
  margin-top: 20px;
}
